
@font-face
{
    font-family: 'Micro5';
    src: url('../fonts/Micro5-Regular.ttf');
}

@font-face
{
    font-family: 'Rajdhani';
    src: url('../fonts/Rajdhani-Regular.ttf');
}
/* COULEUR */ 
:root {
    --CouleurFont:white;
    --CouleurPrimaire: black;
    --CouleurSecondaire: #A6A6A6;
	--FontPrimaire: 'Micro5'; 
	--FontSeconfaire: 'Rajdhani', sans-serif;
    --FontOccasionnelle:'Sedgwick Ave', cursive;
}

body{
    background-color: var(--CouleurPrimaire);
    color: var(--CouleurFont);
    font-family: var(--FontPrimaire);
}


/*BIENVENUE*/
.bienvenue{
    padding: 12vh 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.bienvenue_titre{
    font-family: var(--FontPrimaire);
    color: var(--CouleurFont);
    font-size: 80px;
    text-transform: uppercase;
}

#afficherFormulaire{
    font-family: var(--FontPrimaire);
    color: var(--CouleurFont);
    font-size: 30px;
    padding: 3vh 0;
}

/*FORMULAIRE*/
.formulaire_conteneur{
    display: none;
}

.formulaire{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.login_password{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
    padding: 2vh 0;
}

.formulaire_login{
    padding: 1vh;
    border-radius: 5px;
    border: solid var(--CouleurFont);
}

.formulaire_password{
    padding: 1vh;
    border-radius: 5px;
    border: solid var(--CouleurFont); 
}


/*BUTTON*/
button {
    all: unset;
    position: relative;
    height: 4em;
    width: 10em;
    padding: 8px 24px;
    border-radius: 10px;
    background: linear-gradient(180deg, #282828, #202020);
    box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
                  inset 0 -8px 8px rgba(0, 0, 0, 0.25),
                  0 0 0 2px rgba(0, 0, 0, 0.75),
                  10px 20px 25px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  button::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;
    bottom: 14px;
    right: 12px;
    background: linear-gradient(90deg, #232323, #4a4a4a);
    border-radius: 10px;
    box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.25),
                  10px 5px 10px rgba(0, 0, 0, 0.15);
    border-left: 1px solid #0004;
    border-bottom: 1px solid #0004;
    border-top: 1px solid #0009;
  }
  
  button span {
    font-size: 1.5rem;
    color: white;
    position: relative;
    margin-top: -8px;
  }

  button:active {
    transform: translateY(5px);
    transition: 200ms;
  }



/*TABLEAU D'HOTE*/
.titre_tableau{
    font-size: 50px;
    text-transform: uppercase;

}

.tableau{
    border: solid var(--CouleurFont);
}
.col_name{
    padding: 1vh 2vw;
    text-align: center;
    font-size: 39px;
    
}

.col_mac{
    padding: 1vh 2vw;
    text-align: center;
    font-size: 39px;
}
.col_ip_fixe{
    padding: 1vh 2vw;
    text-align: center;
    font-size: 39px;
}