/*
///////////////////////////
//     SCROOLLBAR        //
///////////////////////////
*/

::-webkit-scrollbar{
	width: 13px;
}

::-webkit-scrollbar-track{
	background-color: var(--CouleurPrimaire);
	
}

::-webkit-scrollbar-thumb{
	background:var(--Couleur5) ;
	border-radius: 4px;
}

/*
///////////////////////////
//         FONT         //
///////////////////////////
*/
@font-face {
    font-family: 'Abel';
    src: url('../fonts/Abel-Regular.ttf');
}

@font-face {
    font-family: 'Jaro';
    src: url('../fonts/Jaro-Regular-VariableFont_opsz.ttf');
}

@font-face {
    font-family: 'Monoton';
    src: url('../fonts/Monoton-Regular.ttf');
}

/*
///////////////////////////
//       COULEUR         //
///////////////////////////
*/
:root {
    --CouleurFont:#f0ead2;
    --CouleurPrimaire: #393e41;
    --CouleurSecondaire: #d7716b;
    --Couleur4: #6ede8a;
    --Couleur5: #a98467;
    --Couleur6: #a9927d;
    --CouleurHover: #d68b45d0;
	--FontPrimaire: 'Abel'; 
	--FontSeconfaire: 'Jaro';
    --FontOccasionnelle:'Monoton';
}

/*
///////////////////////////
//          BODY         //
///////////////////////////
*/
body{
    background-color: var(--CouleurPrimaire);
    color: var(--CouleurFont);
    font-family: var(--FontPrimaire);
    padding: 8vh 5vw;
}

/*
///////////////////////////
//        BIENVENUE      //
///////////////////////////
*/
.bienvenue{
    padding: 12vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.fa-eye-low-vision{
    color: var(--Couleur5);
    font-size: 120px;

}

#afficherFormulaire{
    font-family: var(--FontPrimaire);
    color: var(--CouleurFont);
    font-size: 30px;
    padding: 3vh 0;
}

/*
//////////////////////////////
// FORMULAIRE DE CONNECTION //
//////////////////////////////
*/
.formulaire_conteneur{
    display: none;
}

.formulaire{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.login_password{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
    padding: 5vh 0;
}

.formulaire_login,.formulaire_password{
    padding: 1vh;
    border-radius: 5px;
    border: solid var(--CouleurFont);
    padding: 1rem 1rem;
    border-radius: 0.5rem;
}

/*
////////////////////////////
//   BUTTON DE CONNECTION //
////////////////////////////
*/
.connection_bouton {
    all: unset;
    position: relative;
    height: 4em;
    width: 10em;
    padding: 8px 24px;
    border-radius: 10px;
    background: linear-gradient(180deg, #282828, #202020);
    box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
                inset 0 -8px 8px rgba(0, 0, 0, 0.25),
                0 0 0 2px rgba(0, 0, 0, 0.75),
                10px 20px 25px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.connection_bouton::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;
    bottom: 14px;
    right: 12px;
    background: linear-gradient(90deg, #232323, #4a4a4a);
    border-radius: 10px;
    box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.25),
                  10px 5px 10px rgba(0, 0, 0, 0.15);
    border-left: 1px solid #0004;
    border-bottom: 1px solid #0004;
    border-top: 1px solid #0009;
}
  
.connection_bouton span {
    font-size: 1.5rem;
    color: white;
    position: relative;
    margin-top: -8px;
}

.connection_bouton:active {
    transform: translateY(5px);
    transition: 200ms;
}

/*
//////////////////////////////////
//   FOMULAIRE CHANGE HOST NAME //
/////////////////////////////////
*/
.edit_host_form{
    display: none;
    
    padding: 1vh 2vw;
}

.new_host_name{
    width: 100px;
    padding: 0.2vh 1vw;
    border-radius: 0.5rem;
    border: none;
}

.fa-check ,.fa-hand-point-left{
    background-color: var(--Couleur5);
    border: none;
    cursor: pointer;
    padding: 0.2vh 1vw;
    margin: 0 0.5vw;
    border-radius: 0.5rem;
    color: var(--CouleurFont);
}

/*
/////////////////////
//     NAV BARRE   //
/////////////////////
*/
.execute_scrip_conteneur{
    display:flex;
    align-items:center;
    justify-content:space-between;
    text-transform: uppercase;
}

.execute_titre{
    font-size: 35px;
    text-transform: uppercase;
    font-family: var(--FontSeconfaire);
}

.nav_button_ip_range{
    background-color: var(--Couleur5);
    border: none;
    cursor: pointer;
    padding: 1vh 1vw;
    border-radius: 0.5rem;
    color: var(--CouleurFont);
}

.nav_button_shell{
    border: none;
    cursor: pointer;
    padding: 0.5vh 0.5vw;
    font-size: 20px;
    border-radius: 0.5rem;
    color: var(--CouleurFont);
}

.nav_barre{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
}

.nav_button_attribution{
    background-color: var(--Couleur5);
    border: none;
    cursor: pointer;
    padding: 1vh 1vw;
    border-radius: 0.5rem;
    color: var(--CouleurFont);
}

.nav_refresh{
    background-color: var(--Couleur5);
    border: none;
    cursor: pointer;
    padding: 0.5vh 0.5vw;
    font-size: 20px;
    border-radius: 0.5rem;
    color: var(--CouleurFont);
}

.nav_button_ip_range:hover,.nav_button_shell:hover,.nav_refresh:hover,
.nav_button_attribution:hover,.tab_historique_bouton form button:hover,.fa-check:hover,
 .fa-hand-point-left:hover,.bouton_range_ip:hover {
    background-color: var(--CouleurHover);
    cursor: pointer;
}

.fa-user-plus{
    background-color: var(--Couleur5);
    border: none;
    cursor: pointer;
    padding: 0.7vh 0.5vw;
    font-size: 20px;
    border-radius: 0.5rem;
    color: var(--CouleurFont);
    text-decoration: none;
}

.button_deconnection{
    padding: 0.5vh 0.5vw;
    font-size: 20px;
    border-radius: 0.5rem;
    border: 0 ;
    font-size: 20px;
    color: var(--CouleurFont);
    background-color: var(--Couleur5);
}

.button_deconnection:hover,.button_deconnection:hover {
    background-color: var(--CouleurHover);
    cursor: pointer;
}

/*
//////////////////////////////////
//  STATUS BOUTON DEMARAGE DHCP //
//////////////////////////////////
*/
.active {
    background-color: var(--CouleurSecondaire);
    color: var(--CouleurPrimaire);
}
.inactive {
    background-color: var(--Couleur4);
    color: var(--CouleurPrimaire);
}
.active:hover {
    background-color: var(--Couleur4);
}
.inactive:hover  {
    background-color: var(--CouleurSecondaire);
}

.inactive:active,.active:active {
    box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}

/*
////////////////////////
//    TABLEAU D'HOTE  //
////////////////////////
*/
.tableau_conteneur{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: relative;
    max-height: 500px;
    margin: 4vh 0 4vh 0;
}

table{
    width: 100%;
}

tr:nth-child(even) {
    background-color: var(--Couleur6);/*couleur une sur deux tableau*/
}

th{
    text-transform:uppercase;
    background-color: var(--Couleur5) ;
    position: sticky;
    top: 0;
    z-index: 1;
}

.tableau{
    color: var(--couleurFont);
    padding: 0;
    margin: 0;
}

.col_name a{
    color: var(--Couleur4);
}

.fa-pen-to-square{
    padding: 0vh 2vw;
    text-align: center;
    font-size: 20px;
    color: var(--CouleurFont);
}

.fa-pen-to-square:hover,.fa-trash:hover{
    transform: scale(1.2);
}

.col_header_name,.col_header_demarage,.col_header_mac,.col_header_ip_fixe,
.col_header_disk,.col_header_etat,.tab_historique_header_nom,
.tab_historique_header_mac,.tab_historique_header_bouton,.col_header_delete_host{
    padding: 2vh 0vw;
    text-align: center;
    font-size: 20px;
    font-family: var(--FontSeconfaire);
}  

.col_header_name{
    width: 390px;
}

.col_header_ip_fixe{
    width: 200px;
}

.col_name{
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.etat{
    padding: 0;
    margin: 0;
}

.col_etat_conteneur{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

.col_etat_bouton{
    background-color: var(--Couleur4);
    border: none;
    cursor: pointer;
    padding: 0.5vh 0.5vw;
    font-size: 11px;
    border-radius: 0.5rem;
    color: var(--CouleurPrimaire);
}

.col_etat_bouton:active{
    background-color: var(--Couleur4);
}

.col_shut_down_bouton{
    background-color: var(--CouleurSecondaire);
    border: none;
    cursor: pointer;
    padding: 0.5vh 0.5vw;
    font-size: 11px;
    border-radius: 0.5rem;
    color: var(--CouleurPrimaire);
}

.col_shut_down_bouton:active {

    box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}

.fa-circle-arrow-up{
    color: var(--Couleur4);
    font-size: 20px;

}

.col_name,.col_mac,.col_ip_fixe,.col_modif_ip,
.col_disk,.col_etat,.col_demarage,.col_delete_host{
    margin: 0;
    padding: 0vh 0vw;
    text-align: center;
    font-size: 15px;
}

.col_demarage{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.col_conteneur_ip_conf{
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.ip_address{
    margin: 0;
    padding: 0 1vw;
}
.ip_change_form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0vw;
}

.formulaire_ip_conteneur{
    display:none;
}

.formulaire_ip {
    width: 100px;
    padding: 0.2vh 1vw;
    margin: 0 1vw;
    border-radius: 0.5rem;
    border:none;
}

.host_name{
    margin: 0.6vh 0vw;
}

/*
////////////////////////
//       BOUTON       //
////////////////////////
*/
.button {
    color: var(--couleurFont);
    background-color: var(--Couleur5);
    font-family: var(--FontPrimaire);
    font-weight: 500;
    border-radius: 0.5rem;
    font-size: 15px;
    padding: 0.5vh 0.5vw;
    cursor: pointer;
    text-align: center;
    margin-right: 0.5rem;
    display: inline-flex;
    align-items: center;
    border: none;
}

.button:hover {
    background-color: var(--CouleurHover);
}

.button:active {
    transform: translateY(5px);
    transition: 200ms;
}

.button svg {
    display: inline;
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.75rem;
    color: var(--CouleurFont);
}

.button:focus svg {
    animation: spin_357 0.5s linear;
}

@keyframes spin_357 {
    from {
    transform: rotate(0deg);
    }

    to {
    transform: rotate(360deg);
    }
}

/*
////////////////////////
//    DISK CHOIX      //
////////////////////////
*/
#choices{
    background-color: var(--CouleurFont);
    border: none;
    border-radius: 0.5rem;
    padding: 0.1vh 0;
    color: var(--CouleurPrimaire);
    font-family: var(--FontSeconfaire);
}

/*
//////////////////////////////////////
// ANIMATION IP CHANGER AVEC SUCCES //
//////////////////////////////////////
*/
.emoji-container {
    position:  absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 250px;
    opacity: 1; 
    animation: fadeInOut 3s ease forwards; 
}

@keyframes fadeInOut {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1; 
    }
    100% {
        opacity: 0;
        display: none; 
    }
}

/*
///////////////////////////////
//  TABLEAU ATTRIBUTION DHCP //
///////////////////////////////
*/
.tableau_historique_dhcp{
    margin: 4vh 0 4vh 0;
}

.tab_historique_mac,.tab_historique_bouton{
    padding:  0vh 0vw;
    text-align: center;
    font-size: 15px;
}    
.tab_historique_nom{
    padding: 0.2vh 0vw 0.2vh 2vw;
    text-align: start;
}

.tab_historique_bouton form button{
    background-color: var(--Couleur5);
    border: none;
    cursor: pointer;
    padding: 0.2vh 1vw;
    border-radius: 0.5rem;
    color: var(--CouleurFont);
}

/*
///////////////////////
//  CHECKBOX TABLEAU //
///////////////////////
*/
.checkbox-wrapper-35 .switch {
    display: none;
}

.checkbox-wrapper-35 .switch + label {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #78768d;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 15px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-wrapper-35 .switch + label::before,
    .checkbox-wrapper-35 .switch + label::after {
    content: '';
    display: block;
}

.checkbox-wrapper-35 .switch + label::before {
    background-color: var(--CouleurSecondaire);
    border-radius: 500px;
    height: 15px;
    margin-right: 8px;
    -webkit-transition: background-color 0.125s ease-out;
    transition: background-color 0.125s ease-out;
    width: 25px;
}

.checkbox-wrapper-35 .switch + label::after {
    background-color: var(--CouleurFont);
    border-radius: 13px;
    box-shadow: 0 3px 1px 0 rgba(37, 34, 71, 0.05), 0 2px 2px 0 rgba(37, 34, 71, 0.1), 0 3px 3px 0 rgba(37, 34, 71, 0.05);
    height: 13px;
    left: 1px;
    position: absolute;
    top: 1px;
    -webkit-transition: -webkit-transform 0.125s ease-out;
    transition: -webkit-transform 0.125s ease-out;
    transition: transform 0.125s ease-out;
    transition: transform 0.125s ease-out, -webkit-transform 0.125s ease-out;
    width: 13px;
}

.checkbox-wrapper-35 .switch + label .switch-x-text {
    display: block;
    margin-right: .3em;
}

.checkbox-wrapper-35 .switch + label .switch-x-toggletext {
    display: block;
    font-weight: bold;
    height: 15px;
    overflow: visible;
    position: relative;
    width: 15px;
}

.checkbox-wrapper-35 .switch + label .switch-x-unchecked,
    .checkbox-wrapper-35 .switch + label .switch-x-checked {
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
    transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
    transition: transform 0.125s ease-out, opacity 0.125s ease-out;
    transition: transform 0.125s ease-out, opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
    color: var(--CouleurFont);
}

.checkbox-wrapper-35 .switch + label .switch-x-unchecked {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

.checkbox-wrapper-35 .switch + label .switch-x-checked {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.checkbox-wrapper-35 .switch + label .switch-x-hiddenlabel {
    width:80px;
    position: absolute;
    visibility: hidden;
}

.checkbox-wrapper-35 .switch:checked + label::before {
    background-color: var(--Couleur4);
}

.checkbox-wrapper-35 .switch:checked + label::after {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
}

.checkbox-wrapper-35 .switch:checked + label .switch-x-unchecked {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.checkbox-wrapper-35 .switch:checked + label .switch-x-checked {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

/*
////////////////////////////
//  CHECKBOX BOOT UNKNOWN //
///////////////////////////
*/
#configForm{
    display: flex;
    align-items: center;
    gap: 0vw;
    background-color: var(--Couleur5);
    border-radius: 0.5rem;
    padding: 0vh 4vw;
    margin: 4vh 0 4vh 0;
}

#configForm h4{
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    width: 305px;
    margin-right: 10px;
    color: var(--CouleurFont);
}

.checkbox-wrapper-unique .switch-unique {
    display: none;
}

.checkbox-wrapper-unique .switch-unique + label {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #78768d;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 15px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-wrapper-unique .switch-unique + label::before,
.checkbox-wrapper-unique .switch-unique + label::after {
    content: '';
    display: block;
}

.checkbox-wrapper-unique .switch-unique + label::before {
    background-color: var(--CouleurSecondaire);
    border-radius: 500px;
    height: 15px;
    margin-right: 8px;
    -webkit-transition: background-color 0.125s ease-out;
    transition: background-color 0.125s ease-out;
    width: 25px;
}

.checkbox-wrapper-unique .switch-unique + label::after {
    background-color: var(--CouleurFont);
    border-radius: 13px;
    box-shadow: 0 3px 1px 0 rgba(37, 34, 71, 0.05), 0 2px 2px 0 rgba(37, 34, 71, 0.1), 0 3px 3px 0 rgba(37, 34, 71, 0.05);
    height: 13px;
    left: 1px;
    position: absolute;
    top: 1px;
    -webkit-transition: -webkit-transform 0.125s ease-out;
    transition: -webkit-transform 0.125s ease-out;
    transition: transform 0.125s ease-out;
    transition: transform 0.125s ease-out, -webkit-transform 0.125s ease-out;
    width: 13px;
}

.checkbox-wrapper-unique .switch-unique + label .switch-x-text-unique {
    display: block;
    margin-right: .3em;
}

.checkbox-wrapper-unique .switch-unique + label .switch-x-toggletext-unique {
    display: block;
    font-weight: bold;
    height: 15px;
    overflow: visible;
    position: relative;
    width: 15px;
}

.checkbox-wrapper-unique .switch-unique + label .switch-x-unchecked-unique,
.checkbox-wrapper-unique .switch-unique + label .switch-x-checked-unique {
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
    transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
    transition: transform 0.125s ease-out, opacity 0.125s ease-out;
    transition: transform 0.125s ease-out, opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
    color:var(--CouleurFont);
}

.checkbox-wrapper-unique .switch-unique + label .switch-x-unchecked-unique {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

.checkbox-wrapper-unique .switch-unique + label .switch-x-checked-unique {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.checkbox-wrapper-unique .switch-unique + label .switch-x-hiddenlabel-unique {
    width: 80px;
    position: absolute;
    visibility: hidden;
}

.checkbox-wrapper-unique .switch-unique:checked + label::before {
    background-color: var(--Couleur4);
}

.checkbox-wrapper-unique .switch-unique:checked + label::after {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
}

.checkbox-wrapper-unique .switch-unique:checked + label .switch-x-unchecked-unique {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.checkbox-wrapper-unique .switch-unique:checked + label .switch-x-checked-unique {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

/*
//////////////////
//     NOTIF    //
//////////////////
*/
.error {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 320px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: var(--CouleurFont);
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
    position: absolute;
    z-index: 3;
    top: 2vw;
    right: 5.5vw;
}

.error__icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
}

.error__icon path {
    fill: var(--CouleurPrimaire);
}

.error__title {
    font-weight: 500;
    font-size: 14px;
    color: var(--Couleur5);
}

.error__close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
}

.error__close path {
    fill: var(--Couleur5);
}

/*
////////////////////////////////
//  FORMULAIRE CONF RANGE IP  //
////////////////////////////////
*/
.conteneur_formulaire_range_ip{
    background-color: var(--Couleur5);
    border-radius: 0.5rem;
    padding: 3vh 1vw 1vh 1vw;
    margin: 4vh 0 4vh 0;
}
.formulaire_range_ip {
    margin-bottom: 20px;

    align-items: center;
    display: flex;
    justify-content: space-around;
    
}

.label_range_ip {
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    width: 150px;
    margin-right: 10px;
    color: var(--CouleurFont);
}

.input_range_ip{
    width: 100px;
    padding: 0.2vh 1vw;
    border-radius: 0.5rem;
    border: none;
}
.bouton_range_ip{
    background-color: var(--CouleurPrimaire);
    border: none;
    cursor: pointer;
    padding: 0.2vh 1vw;
    border-radius: 0.5rem;
    color: var(--CouleurFont);
}

/*
////////////////////////////////
//     ECRAN DE CHARGEMENT    //
////////////////////////////////
*/
.loadingspinner {
    --square: 26px;
    --offset: 30px;
    --duration: 2.4s;
    --delay: 0.2s;
    --timing-function: ease-in-out;
    --in-duration: 0.4s;
    --in-delay: 0.1s;
    --in-timing-function: ease-out;
    width: calc( 3 * var(--offset) + var(--square));
    height: calc( 2 * var(--offset) + var(--square));
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    position: relative;
}
  
.loadingspinner div {
    display: inline-block;
    background: darkorange;
      /*background: var(--text-color);*/
      /*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);*/
    border: none;
    border-radius: 2px;
    width: var(--square);
    height: var(--square);
    position: absolute;
    padding: 0px;
    margin: 0px;
    font-size: 6pt;
    color: black;
}
  
.loadingspinner #square1 {
    left: calc( 0 * var(--offset) );
    top: calc( 0 * var(--offset) );
    animation: square1 var(--duration) var(--delay) var(--timing-function) infinite,
                 squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
}
  
.loadingspinner #square2 {
    left: calc( 0 * var(--offset) );
    top: calc( 1 * var(--offset) );
    animation: square2 var(--duration) var(--delay) var(--timing-function) infinite,
                squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
}
  
.loadingspinner #square3 {
    left: calc( 1 * var(--offset) );
    top: calc( 1 * var(--offset) );
    animation: square3 var(--duration) var(--delay) var(--timing-function) infinite,
                 squarefadein var(--in-duration) calc(2 * var(--in-delay)) var(--in-timing-function) both;
}
  
.loadingspinner #square4 {
    left: calc( 2 * var(--offset) );
    top: calc( 1 * var(--offset) );
    animation: square4 var(--duration) var(--delay) var(--timing-function) infinite,
                 squarefadein var(--in-duration) calc(3 * var(--in-delay)) var(--in-timing-function) both;
}
  
.loadingspinner #square5 {
    left: calc( 3 * var(--offset) );
    top: calc( 1 * var(--offset) );
    animation: square5 var(--duration) var(--delay) var(--timing-function) infinite,
                 squarefadein var(--in-duration) calc(4 * var(--in-delay)) var(--in-timing-function) both;
}
  
@keyframes square1 {
    0% {
      left: calc( 0 * var(--offset) );
      top: calc( 0 * var(--offset) );
    }
  
    8.333% {
      left: calc( 0 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    100% {
      left: calc( 0 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
}
  
@keyframes square2 {
    0% {
      left: calc( 0 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    8.333% {
      left: calc( 0 * var(--offset) );
      top: calc( 2 * var(--offset) );
    }
  
    16.67% {
      left: calc( 1 * var(--offset) );
      top: calc( 2 * var(--offset) );
    }
  
    25.00% {
      left: calc( 1 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    83.33% {
      left: calc( 1 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    91.67% {
      left: calc( 1 * var(--offset) );
      top: calc( 0 * var(--offset) );
    }
  
    100% {
      left: calc( 0 * var(--offset) );
      top: calc( 0 * var(--offset) );
    }
}
  
@keyframes square3 {
    0%,100% {
      left: calc( 1 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    16.67% {
      left: calc( 1 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    25.00% {
      left: calc( 1 * var(--offset) );
      top: calc( 0 * var(--offset) );
    }
  
    33.33% {
      left: calc( 2 * var(--offset) );
      top: calc( 0 * var(--offset) );
    }
  
    41.67% {
      left: calc( 2 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    66.67% {
      left: calc( 2 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    75.00% {
      left: calc( 2 * var(--offset) );
      top: calc( 2 * var(--offset) );
    }
  
    83.33% {
      left: calc( 1 * var(--offset) );
      top: calc( 2 * var(--offset) );
    }
  
    91.67% {
      left: calc( 1 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
}
  
@keyframes square4 {
    0% {
      left: calc( 2 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    33.33% {
      left: calc( 2 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    41.67% {
      left: calc( 2 * var(--offset) );
      top: calc( 2 * var(--offset) );
    }
  
    50.00% {
      left: calc( 3 * var(--offset) );
      top: calc( 2 * var(--offset) );
    }
  
    58.33% {
      left: calc( 3 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    100% {
      left: calc( 3 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
}
  
@keyframes square5 {
    0% {
      left: calc( 3 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    50.00% {
      left: calc( 3 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    58.33% {
      left: calc( 3 * var(--offset) );
      top: calc( 0 * var(--offset) );
    }
  
    66.67% {
      left: calc( 2 * var(--offset) );
      top: calc( 0 * var(--offset) );
    }
  
    75.00% {
      left: calc( 2 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    100% {
      left: calc( 2 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
}
  
@keyframes squarefadein {
    0% {
      transform: scale(0.75);
      opacity: 0.0;
    }
  
    100% {
      transform: scale(1.0);
      opacity: 1.0;
    }
}

/*
///////////////////////////////////////////
// FORMULAIRE INSCRIPTION ET SUPPRESSION //
///////////////////////////////////////////
*/
.formulaire_inscription_suppression {
    padding: 12vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titre_suppression, .titre_inscription {
    color: var(--Couleur5);
    font-size: 120px;
    margin: 0;
    padding: 0;
}

#formulaire_suppression {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.formulaire_inscription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.suppression_login_password, .inscription_login_password {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 2vh 0;
}

.conteneur_bouton_inscription {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

#icon_inscription, #icon_suppression, .conteneur_bouton_inscription button, #retour_page_admin_inscription, #retour_page_admin_suppression {
    background-color: var(--Couleur5);
    border: none;
    cursor: pointer;
    padding: 0.5vh 0.5vw;
    font-size: 20px;
    border-radius: 0.5rem;
    color: var(--CouleurFont);
}

.suppression_login_password input,.inscription_login_password input{
    margin: 0.5vw;
}


/*
///////////////////
//    TOOLTIP    //
///////////////////
*/
.tooltip_container {
    font-size: 18px;
    color: #333;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.tooltip {
    width: 170px;
    height: 15px;
    background-color: var(--CouleurSecondaire);
    padding: 0.20em;
    text-align: center;
    text-transform: lowercase;
    position: absolute;
    z-index: 6;
    top: 40px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transform-origin: center top;
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    transition: opacity 0.3s ease-in-out;
}
  
.tooltip::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0%;
    transform: translateX(100%);
    border-width: 8px 7px 0;
    border-style: solid;
    border-color: var(--CouleurSecondaire) transparent transparent transparent;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
  
.tooltip p {
    margin: 0;
    color: var(--CouleurFont);
    font-size: 15px;
}
  
.tooltip_container:hover .tooltip {
    top: -10px;
    opacity: 1;
    visibility: visible;
    animation: goPopup 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}
  
.tooltip_container:hover .tooltip p {
    animation: bounce 2s ease-in-out infinite;
}
  
@keyframes goPopup {
    0% {
      transform: translateY(0) scaleY(0);
      opacity: 0;
    }
    50% {
      transform: translateY(-50%) scaleY(1.2);
      opacity: 1;
    }
    100% {
      transform: translateY(-100%) scaleY(1);
      border-radius: 8px;
      opacity: 1;
      height: 40px;
    }
}
  
@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-3px);
    }
    60% {
      transform: translateY(-2px);
    }
}
  

/*
/////////////////////////////////
//  FORMULAIRE UPLOAD NEW DISK //
/////////////////////////////////
*/
.formulaire_upload{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#drop_zone {
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    display: flex;
    border: 2px dashed #bbb;
    border-radius: 0.5rem;
    padding: 0vh 0;
    text-align: center;
    color: #bbb;
}

#drop_zone  h3{
    font-size:15px;
    
}
.upload_input_contenaire{
    display: flex;
    align-items: center;
    justify-content: center;
}

#upload_submit,#fileUpload{
    background-color: var(--Couleur5);
    border: none;
    cursor: pointer;
    padding: 0.2vh 1vw;
    margin: 0 0.5vw;
    border-radius: 0.5rem;
    color: var(--CouleurFont);
}
.fa-file-arrow-up{
    font-size: 35px;
}